html {
    font-family: 'Roboto', sans-serif;
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (1200 - 320));
    color: #212121;
    box-sizing: border-box;

    @media (min-width: 1200px) {
        font-size: 24px;
    }
}

*,
&::before,
&::after {
    box-sizing: inherit;
}

body {
    padding: 2em 0 1em;
    text-align: center;
    background-color: #fafafa;
}

a {
    color: $primary;

    &:hover,
    &:focus {
        color: $secondary;
        text-decoration: none;
    }

    &:not([href^="https://scottblinch.me"])::after {
        @media print {
            content: " (" attr(href) ")";
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 3em;
    line-height: 1;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .875em;
}

p {
    margin-bottom: 2em;
    line-height: 1.5;
    max-width: 66ch;
}

.container {
    max-width: 39em;
    margin: 0 auto;
    padding: 0 1em;
}

.profile-picture-link {
    display: inline-block;
}

.profile-picture {
    border-radius: 50%;
}

.description {
    text-align: left;
}

.contact-list {
    padding: 0;
    font-size: 1.5em;
    list-style: none;

    li {
        display: inline-block;
        vertical-align: middle;
    }

    a {
        display: inline-block;
        padding: .25em;
        text-decoration: none;
    }

    i {
        display: inline-block;
    }
}

.footer {
    @media print {
        display: none;
    }
}

.probably-insufferable-star-wars-reference {
    font-size: .5em;
    color: #424242;
    text-decoration: none;

    &:hover,
    &:focus {
        color: #212121;
    }

    i {
        display: inline-block;
        margin-right: .25em;
    }
}
