summary::-webkit-details-marker {
    display: none;
}

.resume {
    font-size: 14px;

    @media (min-width: 992px) {
        font-size: 16px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1em;
        text-align: left;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        margin-bottom: 1em;
        line-height: 1.4;
    }
}

.resume-body {
    text-align: left;

    @media screen and (min-width: 992px) {
        background-color: #eee;
    }
}

.resume-page {
    position: relative;
    padding: 2em;

    @media screen and (min-width: 992px) {
        margin: 2em auto;
        background: #fff;
        box-shadow: 0 4px 5px rgba(0,0,0,.2);
        width: 21.59cm;
        max-width: 100%;
        min-height: 29.94cm;
        padding: 2cm;
    }

    @media print {
        padding: 0;
    }
}

.resume-header {
    text-align: right;
}

.resume-name {
    margin-top: 0;
    border-bottom: 2px solid #ddd;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.resume-contact {
    list-style: none;

    a::after {
        display: none;
    }
}

.resume-section {
    padding-left: 4em;

    @media (min-width: 768px), print {
        padding-left: 8em;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    time {
        position: relative;
        top: .25em;
        float: left;
        display: inline-block;
        width: 3.5rem;
        margin-left: -4rem;
        font-size: .7em;
        text-align: right;

        @media (min-width: 768px), print {
            width: 7rem;
            margin-left: -8rem;
        }
    }
}

.resume-section-heading {
    position: relative;

    &::before {
        position: absolute;
        top: 50%;
        right: calc(100% + 1rem);
        display: inline-block;
        width: 3.5rem;
        border-top: 5px solid $secondary;
        margin-top: -.25rem;
        content: '';

        @media (min-width: 768px), print {
            width: 7rem;
        }
    }
}

summary {
    a,
    .print-bold {
        @media print {
            color: inherit;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

.resume-section {
    ul {
        padding-left: 1.5em;
        margin-bottom: 1.5em;
    }
}
